*/target/*

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Log file ###
*.log

### Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml ###
hs_err_pid*
replay_pid*

### JMH tests ###
*_JMH.txt

### Flattened pom ###
.flattened-pom.xml

### Sqlite files ###
*.db

### CMake build directories ###
/c/build/